<header>
  <div class="t-gray">
    <div class="l-container banner--header">
      <h1 class="logo--name-icon">
        {% include components/svg-logo.html %}
        <span class="logo__name h1">{{ site.meta.title }}</span>
      </h1>
      <nav class="nav--primary">
        <ul class="l-list-inline">
          {% for page in site.pages %}
          {% if page.title and page.hide != true %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}">
              {% if page.menu_title %}{{ page.menu_title }}{% else %}{{ page.title }}{% endif %}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          <li>
            <a href="{{ site.baseurl }}/styleguide" target="_blank">Styleguide</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- {% if site.meta.header_text %}
      {{ site.meta.header_text }}
    {% endif %} -->
  </div>
  <div class="t-secondary l-flush">
    <div class="l-container l-center">
      <ul class="l-list-inline">
    	  {% include icons.html %}
    	</ul>
    </div>
  </div>
  {% include components/color-band.html %}
</header>
