<header class="l-container c-header">
  <!-- include components/svg-logo.html -->
  {% if page.url == '/' %}
    <h1>{{ site.meta.title }}</h1>
  {% else %}
    <h2><a href="/">{{ site.meta.title }}</a></h2>
  {% endif %}
  <nav class="c-nav">
    <ul class="c-nav__list">
      {% for item in site.data.nav.docs %}
        {% if item.title %}
        <li class="c-nav__list__item">
          <a href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% include headers/subnav.html %}
  </nav>
  {% include components/color-band.html %}
</header>
