<header>
  <div class="t-secondary">
    <div class="l-container banner--header">
      <div class="logo--name-icon">
        {% include components/svg-logo.html %}
        <span class="logo__name h1">{{ site.config.title }}</span>
      </div>
      <nav class="nav--primary">
        <ul class="l-list-inline">
          <li>
            <a href="{{ site.baseurl }}/">Home</a>
          </li>
          {% for page in site.pages %}
          {% if page.title and page.hide != true %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}">
              {% if page.menu_title %}{{ page.menu_title }}{% else %}{{ page.title }}{% endif %}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          <li>
            <a href="{{ site.baseurl }}/styleguide" target="_blank">Styleguide</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="t-secondary l-flush">
    <div class="l-container l-center">
      <ul class="l-list-inline">
    	  {% include icons.html %}
    	</ul>
    </div>
  </div>
  {% include components/color-band.html %}
</header>
