<header class="l-container c-header">
  <!-- include components/svg-logo.html -->
  <h1>
    <a href="/">{{ site.meta.title }}</a>
  </h1>
  <nav class="c-nav">
    <ul class="c-nav__list">
      {% for page in site.data.nav.docs %}
        {% if page.title %}
        <li class="c-nav__list__item">
          <a href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% include components/color-band.html %}
</header>
