%dark-theme {
  color: $banner-color;
}

.t-primary,
.t-secondary,
.t-dark { @extend %dark-theme; }

.t-primary { background-color: $banner-bg; }
.t-secondary { background-color: $color-secondary; }
.t-dark { background-color: $gray-90; }
.t-gray { background-color: $gray-10; }
