<footer class="l-container c-footer">
  <p class="c-footer__tagline">
    {% if site.meta.footer_text %}
      {{ site.meta.footer_text }}
    {% endif %}
  </p>
  <ul class="c-nav__list">
    {% include icons.html %}
  </ul>
  <p class="c-footer__meta">&copy; {{ 'now' | date: "%Y" }} {{ site.meta.title }}</p>
</footer>


<!-- Snap SVG -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
<!-- Main scripts -->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
