<footer class="l-container c-footer">
  {% if site.meta.footer_text %}
  <p class="c-footer__tagline">
      {{ site.meta.footer_text }}
  </p>
  {% endif %}
  <nav class="c-nav">
    <ul class="c-nav__list c-nav__list--icons">
      {% include icons.html %}
    </ul>
  </nav>
  <p class="c-footer__meta">&copy; {{ 'now' | date: "%Y" }} {{ site.meta.title }}</p>
</footer>


<!-- Snap SVG -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
<!-- Main scripts -->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
