<header class="l-header">
  <nav class="site-nav l-flex-spread">
    <a href="{{ site.baseurl }}/" class="h1">{{ site.theme.title }}</a>
    <ul class="l-inline-menu l-list-inline">
      {% for page in site.pages %}
      {% if page.title and page.hide != true %}
      <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
          {{ page.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <div class="call-out" 
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
    <div class="divider"></div>
    <h1 class="title">{{ page.title }}</h1>
  </div>
</header>
