<header class="t-secondary l-banner">
  <div class="l-container">
    <nav>
      <ul class="l-list-inline text--right">
        <li>
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">
            {% if page.menu_title %}{{ page.menu_title }}{% else %}{{ page.title }}{% endif %}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
