// Sticky footer layout
html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  > header,
  > footer { flex-grow: 0; }

  > main { flex-grow: 1; }
}

.l-container,
.l-content {
  width: 90vw;
  @include margin(null auto);
}

.l-container {
  max-width: $layout-width;
}

.l-content {
  max-width: $content-width;
}
