// Breakpoints
// $bp-palm:
$bp-hands: 30em;
$bp-hands-wide: 48em;
// $bp-lap:
// $bp-desk:
// $bp-wall

// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Cabin Sketch', 'Arial Black', serif, cursive;
$font-size: 1.125rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.15rem;

$em-base: 18px;
$font-size-base: 1rem;
$font-size-small: 80%;

$line-height-base: 1.4;

// Padding
$padding-large: 15%;
$padding-small: 5%;
$padding-x-small: 1%;

// Brand colours
// http://paletton.com/palette.php?uid=60A0u0kw0w0jvDaoOy4y4oODajv
$texas: #bf5700;
$color-primary: lighten($texas, 5%);
$color-secondary: complement($color-primary);

$black: #000;
$grey-dark: mix($color-primary, lighten($black, 10%), 5%);
$grey-light: mix($color-primary, lighten($black, 80%), 8%);
$grey-lighter: lighten($grey-light, 10%);
$white: #fff;

$background-color: #fff;
$border-color: rgba($grey-dark, .25);

// Typography colours
$text-color: $grey-dark;
$text-light: lighten($text-color, 10%);
$link-color: darken($color-secondary, 7%);
$link-color-hover: darken($link-color, 10%);
$selection-color: $color-primary; // visible when highlighting text
$form-border-color: $grey-light;

// Other colours
$linked-border: 1px solid $link-color;
$form-border: 1px solid $form-border-color;
$default-border: .0625rem solid $border-color;

// Banner colors
$banner-bg: $color-primary;
$banner-link: $white;
$banner-link-hover: $link-color-hover;

// Feature image for articles
$feature-image-text-color: $white;
$feature-image-text-light: $grey-light;
$feature-bg-size: cover;

// Layout
// *******
$max-width: 60rem;
$reading-width: 40rem;
