.l-header {
  @extend %padding-small;
  display: inline-block;
  width: 100%;
  border-top: 5px solid $header-desc-background-color;
  background: $banner-bg;

  a {
    color: $banner-link;

    &:hover {
      outline: 1px dotted currentColor;
      color: $banner-link-hover;
    }
  }

  .avatar {
    width: 2em;
    height: 2em;
    margin-top: -3px;
    margin-right: 1em;
    float: left;
    border-radius: .2em;
  }

  .site-title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
  }

  .call-out {
    h2 {
      margin: 0 0 2rem;
      font-size: 1.7rem;
    }
  }
}
