.l-header {
  @extend %padding-small;
  display: inline-block;
  width: 100%;
  background: $banner-bg;

  a {
    color: $banner-link;

    &:hover {
      outline: 1px dotted currentColor;
      color: $banner-link-hover;
    }
  }

  .avatar {
    width: 2em;
    height: 2em;
    margin-top: -3px;
    margin-right: 1em;
    float: left;
    border-radius: .2em;
  }
}
