// Header text feature
.call-out {
  display: inline-block;
  width: 100%;
  padding: 3% 0;
  background-position: center center;
  background-size: cover;
  color: $text-color;
  font-size: 1.2em;
  text-align: center;

  .site-title {
    display: block;
    width: 100%;

    a {
      color: $banner-link;
      font-size: 2.2em;
      text-transform: lowercase;
    }
  }

  ul {
    li {
      display: inline-block;
      margin: 0 .5em;

      list-style-type: none;
    }
  }

  h1 {
    display: block;
    margin-bottom: .25em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
// Post listing
.posts {
  @extend %padding-header;

  .post-header {
    text-align: center;
  }

  .post-teaser {
    display: block;
    width: 100%;
    margin: 0 2% 1em;
    float: left;
    background-size: $feature-image-size;

    @media (min-width:768px) {
      width: 46%;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  .excerpt {
    margin: .5rem 0;
  }
}

// Work listing
.work {
  @extend %padding-regular;
  display: block;
  width: 100%;
  float: left;
  background-size: $feature-image-size;
  text-align: center;
}

.project {
  display: block;
  width: 100%;
  margin: 0 auto 2rem;
  float: left;
  clear: both;

  .project-thumb {
    display: inline-block;
    width: 99%;
    margin-bottom: 0;
    float: left;

    @media (min-width: 768px) {
      width: 50%;
    }

    img {
      display: block;
      margin: 0 auto 1%;
      text-align: center;
    }
  }

  .project-description {
    display: inline-block;
    width: 99%;
    margin-bottom: 0;
    float: left;
    text-align: center;

    @media (min-width: 768px) {
      width: 45%;
      padding-left: 3%;
    }
  }

  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination {
  padding: $padding-small $padding-large 0;
  text-align: center;

  .button {
    margin: 0 1.5em;

    i {
      vertical-align: middle;
    }
  }
}

.center {
  text-align: center;
}
