.banner {
  @include padding($gutter null);
}

.banner--header {
  @include padding($gutter null);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $bp-hands-wide) {
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
  }
}

.color-band {
  display: flex;
  min-height: 1rem;
  margin-top: 0;
  padding: 0;
  background-color: $color-primary-dark;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.color-band__block {
  flex-grow: 1;
  margin: 0;
  animation: fade-in linear .125s;
}
