.feature {
  @media (min-width: $bp-hands) {
    @include margin(null auto);
    display: flex;
  }

  .feature__image,
  .feature__description {
    @media (min-width: $bp-hands) {
      width: calc(50% - #{$gutter});
      width: 48%;
      margin-right: $gutter;

      &:nth-of-type(-n+2) { margin-top: 0; }
      &:last-child { margin-right: 0; }
    }
  }
}
