.c-footer {
  @include margin($spacing-gutter null);

  @media (min-width: $bp-hands) {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    align-items: center;
  }
}
.c-footer__tagline {
  text-align: center;
  grid-column: 1 / 3;
}

.c-footer__meta {
  @media (min-width: $bp-hands) {
    text-align: right;
  }
}
