.header {
  @extend %bottom-gutter;
  @include pad;
  background: $banner-bg;
  color: $banner-color;

  a {
    color: inherit;

    &:hover {
      outline: 1px solid currentColor;
      text-decoration-line: none;
    }
  }
}

.header__social {
  svg {
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    fill: currentColor;
  }
}

.header__tagline {
  font-size: $font-size-h3;
}

.divider {
  display: block;
  width: 80px;
  height: 3px;
  margin: .5em auto;
  background-color: $border-color;
}
