.c-nav__list {
  margin: 0;
  padding: 0;

  &__item {
    display: block;
    padding: $spacing-half / 2;
    font-size: $font-size-small;

    @media (min-width: $bp-hands) {
      display: inline-block;
      font-size: inherit;
    }

    @include haf {
      @include color-series;
    }

    a {
      color: inherit;
      border-color: currentColor;
    }
  }
}
