// TODO Refresh on lobotomized owl selector.
body {
  font-family: $font-family-primary;
}

img {
  width: auto; // TEMP
  max-width: 37.5rem; // TEMP
  height: auto; // TEMP
  max-height: 21rem; // TEMP
}
