// TODO Refresh on lobotomized owl selector.
body {
  border: 2px solid map-get($colors-persephone, 'white'); // TEMP
  font-family: $font-family-primary;
  transition: border-color linear 1s; // TEMP

  // TEMP... I think I'm going to keep this.
  @media (min-width: $bp-palm) {
    border-color: map-get($colors-persephone, 'black');
  }

  @media (min-width: $bp-hands) {
    border-color: map-get($colors-persephone, 'base');
  }

  @media (min-width: $bp-hands-wide) {
    border-color: map-get($colors-persephone, 'border');
  }

  @media (min-width: $bp-lap) {
    border-color: map-get($colors-persephone, 'highlight');
  }

  @media (min-width: $bp-desk) {
    border-color: map-get($colors-persephone, 'shadow');
  }
}

img {
  width: auto; // TEMP
  max-width: 37.5rem; // TEMP
  height: auto; // TEMP
  max-height: 21rem; // TEMP
}
