body {
  border: 2px solid map-get($colors-persephone, 'white');
  font-family: $font-family-primary;
  line-height: $lh-base;
  transition: border-color linear 1s;

  @media (min-width: $bp-palm) {
    border-color: map-get($colors-persephone, dark);
  }

  @media (min-width: $bp-hands) {
    border-color: map-get($colors-persephone, primary);
  }

  @media (min-width: $bp-hands-wide) {
    border-color: map-get($colors-persephone, secondary);
  }

  @media (min-width: $bp-lap) {
    border-color: map-get($colors-persephone, highlight);
  }

  @media (min-width: $bp-desk) {
    border-color: map-get($colors-persephone, shadow);
  }
}

img {
  width: auto; // TEMP
  max-width: 37.5rem; // TEMP
  height: auto; // TEMP
  max-height: 21rem; // TEMP
}
