.text--right { text-align: right; }
.text--small { font-size: $font-size-small; }

.meta {
  font-size: $font-size-small;
  letter-spacing: .1em;
}

%banner-links {
  color: inherit;

  &:hover {
    outline: 1px solid currentColor;
    text-decoration-line: none;
  }
}
