.pl-swatch-label::after {
  display: inline;
  font-weight: bold;
}

// Brand colors
.text-brand { color: $color-primary; }
.bg-brand { background-color: $color-primary; }
.pl-swatch-label--brand::after {
  content: "#{ $color-primary }";
}

.text-dark { color: $color-primary-dark; }
.bg-dark { background-color: $color-primary-dark; }
.pl-swatch-label--dark::after {
  content: "#{ $color-primary-dark }";
}

.text-secondary { color: $color-secondary; }
.bg-secondary { background-color: $color-secondary; }
.pl-swatch-label--secondary::after {
  content: "#{ $color-secondary }";
}

// Neutral colors
.text-g90 { color: $gray-90; }
.bg-g90 { background-color: $gray-90; }
.pl-swatch-label--g90::after {
  content: "#{ $gray-90 }";
}

.text-g80 { color: $gray-80; }
.bg-g80 { background-color: $gray-80; }
.pl-swatch-label--g80::after {
  content: "#{ $gray-80 }";
}

.text-g20 { color: $gray-20; }
.bg-g20 { background-color: $gray-20; }
.pl-swatch-label--g20::after {
  content: "#{ $gray-20 }";
}

.text-g10 { color: $gray-10; }
.bg-g10 { background-color: $gray-10; }
.pl-swatch-label--g10::after {
  content: "#{ $gray-10 }";
}

// Utility colors
.text-pos { color: $color-pos; }
.bg-pos { background-color: $color-pos; }
.pl-swatch-label--pos::after {
  content: "#{ $color-pos }";
}

.text-neg { color: $color-neg; }
.bg-neg { background-color: $color-neg; }
.pl-swatch-label--neg::after {
  content: "#{ $color-neg }";
}

.text-neut { color: $color-neut; }
.bg-neut { background-color: $color-neut; }
.pl-swatch-label--neut::after {
  content: "#{ $color-neut }";
}

//
//  Typography
//
.font-secondary { font-family: $font-family-headings; }
